.tabs {
}
.tabs__list {
	position: relative;
	display: flex;
	gap: 15px;
	row-gap: 15px;
	overflow-x: auto;
	padding-bottom: 24px;
	-ms-overflow-style: none;
	scrollbar-width: none;
	margin-right: -16px;
}
.tabs__list::after {
	content: '';
	position: absolute;
	right: 0;
	top: 0;
	width: 24px;
	height: 100%;
	background-image: linear-gradient(
		270deg,
		#f8f8f8 16.84%,
		rgba(248, 248, 248, 0) 100%
	);
}
@media (min-width: 1120px) {
	.tabs__list {
		flex-wrap: wrap;
		margin-right: 0;
	}
	.tabs__list::after {
		display: none;
	}
}
.tabs__list::-webkit-scrollbar {
	display: none;
}
.tabs__item {
}
.tabs__button {
	font-size: 16px;
	font-weight: 500;
	color: var(--color-grey);
	background: transparent;
	white-space: nowrap;
	border-radius: 6px;
	border: 2px solid transparent;
	padding: 8px 12px;
	transition: border 0.3s ease 0s, box-shadow 0.3s ease 0s, filter 0.3s ease 0s;
}
.tabs__button:hover,
.tabs__button:focus {
	border: 2px solid var(--color-green);
	box-shadow: 0 0 4px 1px var(--color-green);
	filter: brightness(0.9);
}
.tabs__button:active {
	filter: brightness(0.6);
}
.tabs__button.active {
	background: var(--color-white);
	border: 2px solid var(--color-green);
}
